* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: white;
    
}

.container {
    width: 80%;
    
}

.navBar{
    display: flex;
    width: 100%;
    height: 120px;
    flex-direction: column;
    box-shadow: 0px 21px 39px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 21px 39px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 39px -13px rgba(0,0,0,0.75);
    position: relative;
    top:0px;
}

.socialBar{
height: 60px;
width: 100%;
background-color: #a6dced;
display: flex;
justify-content: center;
}

.menuBar {
height: 60px;
width: 100%;
background-color: white;
display: flex;
justify-content: center;
}

.logo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 30px;
    left: 10%;
}

.flexBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.whatsLink {
    color: white;
    margin-right: 200px;
    display: flex;
    align-items: center;
    font-weight: bold;
   font-size: 20px;
   text-decoration: none;
}

.mr5{
    margin-right: 5px;
}

.menuClass{
    list-style:none;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: center;}

.navLink{
    text-decoration: none;
    font-weight: bold;
    color:#a6dced;
    font-size: 20px;
    transition:all 0.5s;
}

.navLink:hover{
    text-decoration: none;
    font-weight: bold;
    color:#d1b7dc;
    font-size: 22px;
    transition: all 0.5s;
}

.divider {
    background-color: #d1b7dc;
    width: 3px;
    height: 20px;
    margin: 5px;
}

.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    color: #d1b7dc;
    font-size: 35px;
    font-weight: bolder;
}
.quemSomos{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDivider{
    background-color:#d1b7dc;  
    height: 3px;
    width: 40%;
}

.texto1 {
    padding: 20px 40px 40px;
    max-width: 720px;
}

.texto1-imagem{
    width: 300px;
    height: 300px;
    border: #d1b7dc solid 15px;
    margin-left: 20px;
    float: right;
    
 }

.texto1-descriçao {
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 
    margin-top: 125px;
}

.texto2 {
    padding: 20px 40px 40px;
    max-width: 720px;
}

.texto2-imagem {
    width: 300px;
    height: 300px;
    border-bottom: #a6dced solid 15px;
    margin-right: 20px;
    float: left; 
    border: #d1b7dc solid 15px;
}

.texto2-descriçao {
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 125px;
}

.texto3 {
    padding: 20px 40px 40px;
    max-width: 720px;
}

.texto3-imagem {
    width: 300px;
    height: 300px;
    border-bottom: #a6dced solid 15px;
    margin-left: 20px;
    float: right; 
    border: #d1b7dc solid 15px;
}

.texto3-descriçao {
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 125px;
}

.mapa {
	padding: 3em 0;
	background: #d1b7dc
    
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif
}

.footer-copyright {
    background-color: #a6dced;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 15px 0;   
}